name: Build and package

on:
  push:
    branches: [ master ]
    tags:
      - '**'
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 1
      fail-fast: false
      matrix:
        game_version: [ 'classic', 'bcc', 'wrath', 'retail' ]

    env:
      CF_API_KEY: ${{ secrets.CF_API_KEY }}
      WOWI_API_TOKEN: ${{ secrets.WOWI_API_TOKEN }}
      GITHUB_OAUTH: ${{ secrets.GITHUB_TOKEN }}
      WAGO_API_TOKEN: ${{ secrets.WAGO_API_TOKEN }}
      WOW_TOOLS: ${{ secrets.WOW_TOOLS }}

    steps:
      - name: Checkout addon
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r scripts/requirements.txt

      - name: WoW Packager
        uses: BigWigsMods/packager@v2.5.1
        with:
          args: -g ${{ matrix.game_version }}

      - uses: actions/upload-artifact@v6
        with:
          name: LibHunterPetInfo-${{ matrix.game_version }} ${{ github.head_ref || github.ref_name }}
          path: ${{ github.workspace }}/.release
          include-hidden-files: true